<h1>Car Dealership</h1>
<p>Add cars to the list in the form below.</p>
<form action="/car_added" method="post">
  <div class="form-group">
    <label for="new-make-model">Make & Model</label>
    <input type="text" name="new-make-model" id="new-make-model" class="form-control">
  </div>
  <div class="form-group">
    <label for="new-year">Year</label>
    <input type="text" name="new-year" id="new-year" class="form-control">
  </div>
  <div class="form-group">
    <label for="new-price">Price</label>
    <input type="text" name="new-price" id="new-price" class="form-control">
  </div>
  <button type="submit">Submit</button>
</form>
